$white-color: #fff;
$black-color: #000;
$primary-color: #2cadad;
$instagram-color:#ca0080;
$linkedin-color:#3385ff;
$whatsapp-color:#28a74c;
$font-sono: "Sono", sans-serif;
$font-rubik: "Rubik", sans-serif;