@use "../../../sass/variables";
@use "../../../sass/mixins";

.background {
  @include mixins.flex-center;
  justify-content: space-between !important;
  flex-direction: row;
  height: 589px;
  width: 100%;
  padding: 50px;
  .name {
    font-family: variables.$font-sono;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  .profission {
    font-family: variables.$font-sono;
    letter-spacing: 2px;
    text-align: center;
  }
}
.bg-image-black {
  background: url("../../../../public/images/coding-wallpaper.png") center /
    cover;
}
.bg-image-white {
  background: url("../../../../public/images/wallp-white.png") center / cover;
  filter: brightness(90%);
  color: variables.$black-color !important;
}
.titulos-black {
  color: variables.$black-color !important;
}
.widget_title {
  margin-top: 30px;
  margin-bottom: 20px;
}
.widget_title_bar {
  width: 50px;
  height: 2px;
  background-color: variables.$primary-color;
  margin-top: 10px;
}
.about {
  padding: 20px;
  .description {
    font-family: variables.$font-sono;
    font-size: 1rem;
    margin-top: 10px;
    text-align: center;
    letter-spacing: 2px;
  }
}
.div_icons_social {
  @include mixins.flex-center;
  margin-top: 10px;
  .icons_first {
    font-size: 1.9rem;
    margin-left: 10px;
  }
  .bi-instagram {
    color: variables.$instagram-color;
  }
  .bi-linkedin {
    color: variables.$linkedin-color;
  }
  .bi-github {
    color: variables.$white-color;
  }
  .bi-github-black {
    color: variables.$black-color;
  }
  .bi-whatsapp {
    color: variables.$whatsapp-color;
  }
}
.skills {
  @include mixins.flex-center;
  flex-direction: column;
  margin-bottom: 100px;

  .skills_title {
    margin-top: 80px;
  }
  .skills_square {
    display: flex;
    .square {
      padding: 10px;
      width: 100px;
      height: 70px;
      border-radius: 5px;
      background-color: transparent;
      .square_alinhado {
        @include mixins.flex-center;
        flex-direction: column;
      }
    }
  }
  .icons_skills {
    font-size: 3.5rem;
  }
}
.animation:hover {
  transform: scale(1.2);
  transition-timing-function: ease-in;
  transition-duration: 1s;
  transition-delay: 5ms;
  transform: rotateY(360deg);
}
.square:hover {
  transition-timing-function: ease-in;
  transition-duration: 1s;
  transition-delay: 5ms;
  transform: scale(1.5);
  transform: rotateX(360deg);
}

@media screen and (min-width: 0) {
  .background {
    flex-direction: column;
    .name {
      font-size: 1.8rem;
      margin-top: 55px;
    }
  }
  .about {
    @include mixins.flex-center;
    flex-direction: column;
    padding: 0;
    .description {
      width: 350px;
    }
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
  .widget_title,
  .skills .skills_title {
    margin-top: 0;
  }
  .skills .skills_square {
    width: 380px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .square {
      margin: 15px;
    }
  }
}
@media screen and (min-width: 768px) {
  .background {
    flex-direction: row;
  }
  .skills .skills_square {
    width: 100%;
    .square {
      margin: 0;
    }
  }
}
@media screen and (min-width: 990px) {
  .background {
    .name {
      font-size: 2.8rem;
    }
  }
  .about {
    .description {
      width: 450px;
    }
  }
}
