@use "../../sass/variables";
@use "../../sass/mixins";

.footer {
  @include mixins.flex-center;
  padding: 10px;
  font-family: variables.$font-poppins;
  .footer_copy h4, a {
    font-size: 1rem;
    color: variables.$white-color;
    text-decoration: none;
    &:hover {
      font-size: .7rem;
    }
  }
}
