@use "../../../sass/variables";
@use "../../../sass/mixins";

.fSection {
  margin: 50px 0;
  @include mixins.flex-center;
  flex-direction: column;
  width: 100%;

  .form_description {
    color: variables.$white-color;
    font-weight: 100;
    font-size: 1rem;
    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: 8px;
  }
  .form {
    display: flex;
    flex-direction: column;
    width: 760px;
    .input-container {
      display: flex;
      flex-direction: column;
      .input {
        border: 2px solid;
        border-radius: 3px;
        margin: 10px 0;
        height: 40px;
        width: 100%;
        &:hover {
          border: 2px solid variables.$whatsapp-color;
        }
      }
      .input::placeholder {
        font-size: 0.9rem;
        font-family: variables.$font-rubik;
      }
    }
  }
  .input,
  .btn_contact {
    width: 100%;
  }
}

@media screen and (min-width: 0) {
  .fSection {
    .form {
      width: 90%;
    }
  }
}
@media screen and (min-width: 768px) {
  .fSection {
    .form {
      width: 80%;
    }
  }
}
@media screen and (min-width: 990px) {
  .fSection {
    .form {
      width: 760px;
    }
  }
}
