@use "../../sass/variables";
@use "../../sass/mixins";

.top {
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 3;
  cursor: pointer;
  display: none;
}
.top i {
  @include mixins.flex-center;
  color: #09d5d5;
  border-radius: 50px;
  padding: 5px;
  font-size: 2rem;
  &:hover {
    color: variables.$white-color;
  }
}

/* PRELOADER */
#preloader {
  background: variables.$black-color;
  @include mixins.flex-center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  .c-loader {
    animation: pulsando 3s infinite;
    border-radius: 60%;
    height: 30px;
    width: 30px;
    margin-left: 8px;
  }
  .red {
    background-color: variables.$palete-red;
  }
  .green {
    background-color: variables.$palete-green;
  }
  .orange {
    background-color: variables.$palete-orange;
  }
  .blue {
    background-color: variables.$palete-blue;
  }
  .pink {
    background-color: variables.$palete-pink;
  }
}
@keyframes pulsando {
  0%,
  100% {
    transform: scale(0.5);
    transform: translate(50px);
  }
  50% {
    transform: scale(1.2);
  }
}
