@charset "UTF-8";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}
html {
  transition: background-color 0.5s, color 0.5s;
}
