@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  transition: ease-in-out 1s;
}
.bg-div {
  width: 100%;
//   background-color: #e6e6e6;
  color: #f4f4f4;
}
.btn {
  background-color: #2cadad !important;
}
